.up_div .font{
    box-sizing: border-box;
    margin-top:-1px;
   
    
   width:60%;
   height:15vh;
    font-size: 0.6em;
    margin-top: 8px;
    margin-left:30px;
    
    text-transform: uppercase;
    
}
.up_div .para1{
    box-sizing: border-box;
    
    font-family: 'Raleway', sans-serif;
    margin-top:-3px!important;
    font-size: 0.5rem;
    margin-left: 40px;
}
.up_div .btn{
    width:70px;
    margin-top: -12px !important;
    margin-left: 25px !important;
    font-size: 0.4em;
    word-spacing: none;
    border-radius: 2rem;
}
.up_div .img1{
    width:90%;
    height:10vh;
    margin-top: 1rem;
    padding-left:.2rem;
    margin-left: .1rem !important;
    margin-bottom: .3rem;
   
}
